* {
  margin: 0;
  box-sizing: border-box;
  font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
  transition: 0.5s ease-in-out;
}

body {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-color: lightgray;
}

.container {
  display: flex;
  flex-direction: column;
  align-items: center;
  height: 95vh;
  padding: 20px;
}

h1 {
  font-size: 20px;
  margin: 5px;
  border-bottom: double orange;
}

h3,
a {
  color: orange;
  font-weight: 900;
  text-decoration-line: none;
}

a:hover {
  color: white;
}

.container label {
  font-size: 15px;
  margin: 2px;
}

.form {
  padding: 10px;
}

.form input {
  padding: 10px;
  border: none;
  border-radius: 2px;
}

.form button {
  border-radius: 30px;
  border: none;
  padding: 10px;
  margin: 10px;
  background-color: orange;
  cursor: pointer;
}

.form button:hover {
  background-color: white;
}
